<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment></comment>

	<entry key="searchMovieAll">
		SELECT * FROM (
		SELECT ROWNUM RNUM, A.* 
		FROM ( 
		SELECT M.MNO, M.MNAME, M.GENRE, M.DIRECTOR, M.ACTOR, M.RTIME, P.FILE_PATH, P.CHANGE_NAME
		FROM MOVIE M 
		JOIN PICTURE P ON (M.MNO = P.MNO)
		WHERE P.FILE_LEVEL = 1
		AND M.STATUS = 'Y'
		 ) A )
		WHERE RNUM BETWEEN 1 AND 5
		AND MNAME LIKE '%'|| ? || '%'
	</entry>
	
	<entry key="searchTheaterAll">
		SELECT THEATER_NO, THEATER_NAME, ADDRESS
		FROM THEATER
		WHERE THEATER_NAME LIKE '%' || ? || '%'
	</entry>
	
	
	<entry key="searchReviewAll">
		SELECT REVIEW_NO, REVIEW_CONTENT, MNO 
		FROM REVIEW
		WHERE REVIEW_CONTENT LIKE '%' || ? || '%'
	</entry>
	
	
</properties>