<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>좌석 관련 쿼리문</comment>
	<entry key="insertSeat">
		INSERT INTO SEAT (SEAT_PK, SEAT_NO, AUDITORIUM_NO) VALUES (SEQ_SEAT_NO.NEXTVAL, ?, SEQ_AU_NO.CURRVAL)
	</entry>
	
	<entry key="deleteSeat">
		DELETE
		FROM (SELECT * 
   			  FROM SEAT
    		  LEFT JOIN AUDITORIUM USING(AUDITORIUM_NO)
    		  WHERE THEATER_NO = ?)
	</entry>
	
	<entry key="updateSeat">
		INSERT INTO SEAT (SEAT_PK, SEAT_NO, AUDITORIUM_NO) VALUES (SEQ_SEAT_NO.NEXTVAL, ?, SEQ_AU_NO.CURRVAL)
	</entry>
	
	
	
</properties>