<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>notice-mapper</comment>
	
	<!-- USER -->
	
	<entry key="countNotice">
		SELECT COUNT(NOTICE_NO) COUNT
		FROM NOTICE
		WHERE STATUS = 'Y' 
			AND NOTICE_CATEGORY &lt; 99
	</entry>
	<entry key="countFAQ">
		SELECT COUNT(NOTICE_NO) COUNT
		FROM NOTICE
		WHERE STATUS = 'Y' 
			AND NOTICE_CATEGORY &gt; 99
	</entry>
	<entry key="countCategory">
		SELECT COUNT(NOTICE_NO) COUNT
		FROM NOTICE
		WHERE STATUS = 'Y' 
			AND NOTICE_CATEGORY = ?
	</entry>
	
	<entry key="selectNoticeList">
		SELECT NOTICE_NO, NOTICE_CATEGORY, NOTICE_TITLE, NOTICE_DATE 
			FROM (
				SELECT NOTICE_NO, NOTICE_CATEGORY, NOTICE_TITLE, NOTICE_DATE, ROWNUM RNUM
				FROM (
					SELECT NOTICE_NO, NOTICE_CATEGORY, NOTICE_TITLE, NOTICE_DATE
					FROM NOTICE
					WHERE STATUS = 'Y' AND NOTICE_CATEGORY = 20
					ORDER BY NOTICE_NO DESC)
					 )
				WHERE RNUM BETWEEN ? AND ?
		
		UNION
		
		SELECT NOTICE_NO, NOTICE_CATEGORY, NOTICE_TITLE, NOTICE_DATE 
		FROM NOTICE 
		WHERE STATUS = 'Y' AND NOTICE_CATEGORY = 10
		
		ORDER BY NOTICE_CATEGORY ASC, NOTICE_NO DESC
	</entry>
	<entry key="countTitleKeyword">
		SELECT COUNT(NOTICE_NO) COUNT
		FROM ( SELECT NOTICE_NO
				FROM NOTICE
				WHERE STATUS = 'Y' 
					AND NOTICE_CATEGORY = 20
					AND NOTICE_TITLE LIKE ?)
	</entry>
	<entry key="countContentKeyword">
		SELECT COUNT(NOTICE_NO) COUNT
		FROM ( SELECT NOTICE_NO
				FROM NOTICE
				WHERE STATUS = 'Y' 
					AND NOTICE_CATEGORY = 20
					AND NOTICE_TITLE LIKE ?)
	</entry>
	<entry key="searchTitleList">
		SELECT NOTICE_NO, NOTICE_CATEGORY, NOTICE_TITLE, NOTICE_DATE
		FROM(
			SELECT NOTICE_NO, NOTICE_CATEGORY, NOTICE_TITLE, NOTICE_DATE, ROWNUM RNUM
			FROM(
				SELECT NOTICE_NO, NOTICE_CATEGORY, NOTICE_TITLE, NOTICE_DATE
				FROM NOTICE
				WHERE STATUS = 'Y' AND NOTICE_CATEGORY = 20
				    AND NOTICE_TITLE LIKE ?
				ORDER BY NOTICE_NO DESC)
			 )
		WHERE RNUM BETWEEN ? AND ?

		UNION
		
		SELECT NOTICE_NO, NOTICE_CATEGORY, NOTICE_TITLE, NOTICE_DATE 
		FROM NOTICE 
		WHERE STATUS = 'Y' AND NOTICE_CATEGORY = 10
		
		ORDER BY NOTICE_CATEGORY ASC, NOTICE_NO DESC
	</entry>
	<entry key="searchContentList">
		SELECT NOTICE_NO, NOTICE_CATEGORY, NOTICE_TITLE, NOTICE_DATE
		FROM(
			SELECT NOTICE_NO, NOTICE_CATEGORY, NOTICE_TITLE, NOTICE_DATE, ROWNUM RNUM
			FROM(
				SELECT NOTICE_NO, NOTICE_CATEGORY, NOTICE_TITLE, NOTICE_DATE
				FROM NOTICE
				WHERE STATUS = 'Y' AND NOTICE_CATEGORY = 20
				    AND NOTICE_CONTENT LIKE ?
				ORDER BY NOTICE_NO DESC)
			 )
		WHERE RNUM BETWEEN ? AND ?
		
		UNION
		
		SELECT NOTICE_NO, NOTICE_CATEGORY, NOTICE_TITLE, NOTICE_DATE 
		FROM NOTICE 
		WHERE STATUS = 'Y' AND NOTICE_CATEGORY = 10
		
		ORDER BY NOTICE_CATEGORY ASC, NOTICE_NO DESC
	</entry>
	<entry key="increaseNoticeViews">
		UPDATE NOTICE SET VIEWS=VIEWS+1 WHERE NOTICE_NO = ?
	</entry>
	<entry key="selectNotice">
		SELECT A.* 
		  FROM (SELECT NOTICE_NO,  CATEGORY_CONTENT, NOTICE_TITLE, NOTICE_CONTENT, VIEWS, NOTICE_DATE,
		            LEAD(NOTICE_NO, 1) OVER (ORDER BY NOTICE_NO DESC) PREV_NO, 
		            LEAD(NOTICE_TITLE, 1) OVER (ORDER BY NOTICE_NO DESC) PREV_TITLE,
		            LAG(NOTICE_NO, 1) OVER (ORDER BY NOTICE_NO DESC) NEXT_NO, 
		            LAG(NOTICE_TITLE, 1) OVER (ORDER BY NOTICE_NO DESC) NEXT_TITLE
		          FROM (SELECT NOTICE_NO,  CATEGORY_CONTENT, NOTICE_TITLE, NOTICE_CONTENT, VIEWS, NOTICE_DATE
		                  FROM NOTICE 
		                    JOIN NOTICE_CATEGORY ON(NOTICE_CATEGORY = CATEGORY_NO)
		                 WHERE STATUS = 'Y' AND NOTICE_CATEGORY &lt; 99
		        )
		    ) A
		WHERE A.NOTICE_NO = ?
	</entry>
	<entry key="selectFAQ">
		SELECT A.* 
		  FROM (SELECT NOTICE_NO,  CATEGORY_CONTENT, NOTICE_TITLE, NOTICE_CONTENT, VIEWS, NOTICE_DATE,
		            LEAD(NOTICE_NO, 1) OVER (ORDER BY NOTICE_NO DESC) PREV_NO, 
		            LEAD(NOTICE_TITLE, 1) OVER (ORDER BY NOTICE_NO DESC) PREV_TITLE,
		            LAG(NOTICE_NO, 1) OVER (ORDER BY NOTICE_NO DESC) NEXT_NO, 
		            LAG(NOTICE_TITLE, 1) OVER (ORDER BY NOTICE_NO DESC) NEXT_TITLE
		          FROM (SELECT NOTICE_NO,  CATEGORY_CONTENT, NOTICE_TITLE, NOTICE_CONTENT, VIEWS, NOTICE_DATE
		                  FROM NOTICE 
		                    JOIN NOTICE_CATEGORY ON(NOTICE_CATEGORY = CATEGORY_NO)
		                 WHERE STATUS = 'Y' AND NOTICE_CATEGORY &gt; 99
		        )
		    ) A
		WHERE A.NOTICE_NO = ?
	</entry>
	<entry key="selectFAQList">
		SELECT NOTICE_NO, NOTICE_CATEGORY, NOTICE_TITLE, NOTICE_CONTENT
	    FROM (
	        SELECT NOTICE_NO, NOTICE_CATEGORY, NOTICE_TITLE, NOTICE_CONTENT, ROWNUM RNUM
	        FROM (
	            SELECT NOTICE_NO, NOTICE_CATEGORY, NOTICE_TITLE, NOTICE_CONTENT
	            FROM NOTICE
	            WHERE NOTICE_CATEGORY = ?
	            ORDER BY NOTICE_NO DESC)
	         )
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- ADMIN -->
	<entry key="selectNoticeAdminList">
		SELECT NOTICE_NO, CATEGORY_CONTENT, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_DATE
	    FROM (
		        SELECT NOTICE_NO, CATEGORY_CONTENT, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_DATE, ROWNUM RNUM
		        FROM (
		            SELECT NOTICE_NO, CATEGORY_CONTENT, NOTICE_TITLE, CONCAT(SUBSTR(NOTICE_CONTENT,1,10), '...') NOTICE_CONTENT, NOTICE_DATE
		            FROM NOTICE
		                JOIN NOTICE_CATEGORY ON(NOTICE_CATEGORY = CATEGORY_NO)
		            WHERE NOTICE_CATEGORY &lt; 99 AND STATUS = 'Y'
		            ORDER BY NOTICE_NO DESC)
		         )
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="selectNoticeCategory">
		SELECT CATEGORY_NO, CATEGORY_CONTENT
		FROM NOTICE_CATEGORY
		WHERE CATEGORY_NO &lt; 99
	</entry>
	<entry key="selectFAQCategory">
		SELECT CATEGORY_NO, CATEGORY_CONTENT
		FROM NOTICE_CATEGORY
		WHERE CATEGORY_NO &gt; 99
	</entry>
	<entry key="deleteNotice">
		UPDATE NOTICE SET STATUS = 'N' WHERE NOTICE_NO = ?
	</entry>
	<entry key="insertNotice">
		INSERT INTO NOTICE(NOTICE_NO, NOTICE_CATEGORY, NOTICE_TITLE, NOTICE_CONTENT) 
		VALUES(SEQ_NO_NO.NEXTVAL, ?, ?, ?)
	</entry>
	<entry key="updateNotice">
		UPDATE NOTICE SET NOTICE_CATEGORY = ?, NOTICE_TITLE = ?, NOTICE_CONTENT = ? 
		WHERE NOTICE_NO = ?
	</entry>
	<entry key="searchTitleAdminList">
		SELECT NOTICE_NO, CATEGORY_CONTENT, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_DATE
	    FROM (
		        SELECT NOTICE_NO, CATEGORY_CONTENT, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_DATE, ROWNUM RNUM
		        FROM (
		            SELECT NOTICE_NO, CATEGORY_CONTENT, NOTICE_TITLE, CONCAT(SUBSTR(NOTICE_CONTENT,1,10), '...') NOTICE_CONTENT, NOTICE_DATE
		            FROM NOTICE
		                JOIN NOTICE_CATEGORY ON(NOTICE_CATEGORY = CATEGORY_NO)
		            WHERE NOTICE_CATEGORY &lt; 99 AND STATUS = 'Y' AND NOTICE_TITLE LIKE ?
		            ORDER BY NOTICE_NO DESC)
		         )
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchContentAdminList">
		SELECT NOTICE_NO, CATEGORY_CONTENT, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_DATE
	    FROM (
		        SELECT NOTICE_NO, CATEGORY_CONTENT, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_DATE, ROWNUM RNUM
		        FROM (
		            SELECT NOTICE_NO, CATEGORY_CONTENT, NOTICE_TITLE, CONCAT(SUBSTR(NOTICE_CONTENT,1,10), '...') NOTICE_CONTENT, NOTICE_DATE
		            FROM NOTICE
		                JOIN NOTICE_CATEGORY ON(NOTICE_CATEGORY = CATEGORY_NO)
		            WHERE NOTICE_CATEGORY &lt; 99 AND STATUS = 'Y' AND NOTICE_CONTENT LIKE ?
		            ORDER BY NOTICE_NO DESC)
		         )
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchFAQAdminList">
		SELECT NOTICE_NO, CATEGORY_CONTENT, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_DATE
	    FROM (
		        SELECT NOTICE_NO, CATEGORY_CONTENT, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_DATE, ROWNUM RNUM
		        FROM (
		            SELECT NOTICE_NO, CATEGORY_CONTENT, NOTICE_TITLE, CONCAT(SUBSTR(NOTICE_CONTENT,1,10), '...') NOTICE_CONTENT, NOTICE_DATE
		            FROM NOTICE
		                JOIN NOTICE_CATEGORY ON(NOTICE_CATEGORY = CATEGORY_NO)
		            WHERE NOTICE_CATEGORY &gt; 99 AND STATUS = 'Y'
		            ORDER BY NOTICE_NO DESC)
		         )
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="MainNotice">
		SELECT NOTICE_TITLE, NOTICE_NO, ROWNUM
		FROM NOTICE
        WHERE ROWNUM = 1
        ORDER BY NOTICE_DATE DESC
	</entry>
</properties>