    div {
            /* border: 1px solid black; */
            box-sizing: border-box;
        }

    .wrap>div { width: 100%; }

    #header { height: 10%; }
    /* #navi_area {height: 10%;} */
    #footer { height: 10%; }
    #container { height: 70%; }

    .container_5 { 
        height: 45%; 
        margin-top: 0px;
    }
    .container_6 { height: 20%; }
    .container_7 { height: 20%; }

    .container{
    	margin-top : -100px;
       /* width: 900px; */
        border: 1px solid black;
        display: inline-block;
        position: relative;
    }


    .poster1{
        width: 430px;
        height: 200px;
       /* float: right; */
        margin-right: 100px;
        margin-top: auto;
        
    }
    
   #paging_btn>button{
       color: rgb(13, 71, 161);
       border: 1px solid rgb(13, 71, 161);
    }
    #paging_btn>button:hover{
        background-color: rgb(13, 71, 161);
    	color: white;
    }