div {
        /* border: 1px solid black; */
        box-sizing: border-box;
    }

    .wrap>div { width: 100%; }

	#header { height: 10%; }
	/* #navi_area {height: 10%;} */
	#footer { height: 10%; }
	#container { height: 70%; }

	.thumbnail-image0 {
        width: 700px;
        height: 400px;
        margin-top: 300px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    } 
    .main-container {
        margin-top: 0px;
        display: flex;
        margin-left: auto;
        
    }
    .thumbnail-image {
        width: 220px;
        height: 350px;
    }

    .thumbnail-list {
        list-style: none;
        /* margin-left: auto;
        margin-right: auto; */
        /* padding: 0 30px; */
        
        
    }

    .thumbnail-title {
        display: block;
        text-align: center;
        /* padding: 5px 10px; */
        font-size: 15px;
        height: 25px;
    }

    .service_area3 {
        position: relative;
        margin-top: 100px;
        margin-left: 40px;
        font-size: 25px;
    }

    .checkbox input.checkbox1{
	    font-size: 1em;
	    width: 1.25em; /* 너비 설정 */
	    height: 1.25em; /* 높이 설정 */
	    vertical-align: right;
	}
